* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img{
    width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --dark: #333333;
    --yellow: #FDC15F;
    --violet: #8C87E0;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* BACKGROUND COLOR */
.section_strategi,
.section_benefit,
.section_start{
    background-color: var(--violet);
}

.row{
    display: flex;
}

/* CONTAINER */
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.container-small{
    max-width: 904px;
    margin: 0 auto;
}
/* BUTTON */
.button{
    border-radius: 30px;
    color: white;
}
.button--white{
    background-color: white;
    color: black;
}
.button--violet{
    background-color: var(--violet);
    color: black;
}


/* HEADER */
header{
    background-color: var(--blue);
    color: white;
    padding: 19px 0;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    display: flex;
}
header a{
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}
.bars{
    display: none;
}
@media only screen and (max-width: 991px){
    .bars{
        display: block;
    }
    header ul{
        display: none;
    }
    
}
/* HEADER */


/* MAIN */
/* section_hero */
.section_hero .container{
    padding: 74px 0;
}
.section_hero .row{
    flex-wrap: wrap;
}
.col-big{
    flex-basis: calc(100%*2/3);
}
.col-small{
    flex-basis: calc(100%/3);
}
.col-big .card{
    display: flex;
}
.section_hero .card{
    background-color: var(--lightblue);
    text-align: center;
    border-radius: 20px;
}
.col-small .fa-solid{
    font-size: 55px;
    color: var(--blue);
}
.col-small h2{
    color: var(--blue);
}

.col-small .card *,
.col-big .col-article *{
    padding: 10px 0px;
}


/* section_hero */


.section_strategi *l{
    
    border: 1px dotted orange;
}


/* MAIN */